* {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 270px;
    height: 270px;
    margin: 50px auto;
}

.block {
    border: solid 1px green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: solid 1px orange;
    height: 30px;
}

input {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Landing Page */
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.select-difficulty {
    margin-bottom: 40px;
    width: 170px;
    background-color: darksalmon;
    color: beige;
    font-size: 15px;
    font-weight: 800;
    border-radius: 8px;
    border: 2px solid black;
}

option {
    color: bisque;
    font-weight: 800;
}

.landing-page-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 50px auto;
}

.play-button {
    width: 170px;
    background-color: darksalmon;
    color: beige;
    font-weight: 800;
    font-size: 15px;
    border: 2px solid black;
    border-radius:  8px;
}

.go-back-button {
    margin-left: 40px;
    width: 100px;
    background-color: darksalmon;
    color: beige;
    font-weight: 800;
    font-size: 15px;
    border: 2px solid black;
    border-radius:  8px
}