* {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 270px;
    height: 270px;
    margin: 50px auto;
}

.block {
    border: solid 1px green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    border: solid 1px orange;
    height: 30px;
}

input {
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Landing Page */
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    background-color: darksalmon;
    color: beige;
    font-weight: 800;
    font-size: 15px;
    border: 2px solid black;
    border-radius:  8px
}

.select-difficulty {
    margin-bottom: 40px;
    width: 170px;
    background-color: darksalmon;
    color: beige;
    font-size: 15px;
    font-weight: 800;
    border-radius: 8px;
    border: 2px solid black;
}

option {
    color: bisque;
    font-weight: 800;
}

.landing-page-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.play-button {
    width: 170px;
}

.go-back-button {
    margin-left: 40px;
    width: 100px;
}

.dad-jokes-navlink {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-dad-jokes {
    font-size: 20px;
    font-weight: 600;
    text-shadow: #FC0 1px 0 10px;
}

.read-dad-jokes:hover {
    color: purple;
}

.em.em-laughing {
    margin-left: 10px;
}

/* dad jokes */

.dad-jokes-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.another-joke-btn {
    margin-right: 15px;
}


.dad-joke {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}

.em-stuck_out_tongue_closed_eyes {
    margin-left: 50%;
}
